@tailwind base;
@tailwind components;
@tailwind utilities;





.about-bg{
 background-size: 3rem auto;
 background-position: right 0rem top 3.5rem;
 background-image: green;
 background-repeat:  no-repeat;
 padding: 1rem;
 max-width: 1440px;
 background-color: rgba(243, 246, 249, 0.1);
}
