@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes  background_pan{
  from { background-position: 0}; 
  to { background-position: -200%}
}


@layer base {
 h1 {
       /* font-size: clamp(1.8rem ,5vw,4rem);; */
       background: linear-gradient(to right, theme('colors.light_accent_dark'), 
                   theme('colors.light_accent'), theme('colors.light_accent_dark'));
       /* background-clip: text; */
       /* color: transparent; */
       /* font-weight: 800; */
       /* -webkit-background-clip: text; */
       /* -webkit-text-fill-color: transparent; */
       /* white-space: nowrap;
       width: -moz-fit-content;
       width: fit-content; */
       background-color: hsla(201, 59%, 11%, 0.5);
       animation: background_pan 2s linear infinite;
    }

}

